* {
  box-sizing: border-box;
}

form {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: silver;
    background-color: #00000080;
    width: 40%;
    height: 20%;
    resize: both;
}


#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -3;
}

#header{
    float: right;
    color: silver;
    font-size: 0.5in;
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    margin-top:-5%;
}

#logo{
    float: left;
    margin-right: 0%;
    margin-top: -4.85%;
}

#discord_color{ 
    color: silver;
}

input[type=text], input[type=password] {
  text-align: center;
  width: 75%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: large;
}

button {
  background-color: darkblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 75%;
  font-size: large;
}

button:hover {
  text-align: center;
  opacity: 0.7;
}

img.avatar {
  width: 22%;
}


.textPrompt{
    font-size: x-large;
    text-align: center;
}

.loginInfo{
    padding: 16px;
}

#hyp_links{
  color: silver;
  font-size: large;
}

#up_size{
    font-size: large;
}

@media screen and (max-width: 600px){

form {
    text-align: center;
    margin: left;
    font-family: Bodoni MT,Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    color: silver;
    background-color: #00000080;
    width: 25%;
    height: 10%;
    resize: vertical;
}


.textPrompt{
    font-size: large;
    text-align: center;
}

.loginInfo{
    padding: 8;
}

#hyp_links{
  color: silver;
  font-size: medium;
}

#up_size{
    font-size: medium;
}
#header{
    float: right;
    color: silver;
    font-size: 0.5in;
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif; 
    margin-top:-5%;
}

#logo{
    float: right;
    margin-right: 0%;
    margin-top: -2.75%;
}

#discord_color{ 
    color: silver;
}

input[type=text], input[type=password] {
  text-align: center;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: medium;
}

button {
  background-color: darkblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: medium;
}
}